@import "_color";

.container {
  color: #292929;
  margin-left: 280px;

  &__inner {
    padding: 1rem;
  }

  &__section {
    padding: 3rem;

    &:not(:first-child) {
      border-top: 2px solid #efefef;
    }
  }

  &__section-inner {
    max-width: 960px;
  }

  &__section-title {
    font-size: 2rem;
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: 3rem;

    &::before {
      content: "";
      display: inline-block;
      width: 5px;
      height: 100%;
      background: $primary-color;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__section-footer {
    text-align: center;
    padding: 1rem 0;
  }

  &__btn {
    color: #fff;
    background-color: $primary-color;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
    vertical-align: middle;
    height: 2.5rem;
    line-height: 1.5;
    border-color: $primary-color;
    border-radius: .25rem;
    box-sizing: border-box;
    display: inline-block;
    padding: .375rem 1rem;

    &::before {
      margin-right: .5rem;
      font-family: FontAwesome;
      content: "\f0f6";
    }
  }

  // blog
  &__contents {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 -15px
  }

  &__blog-wrapper {
    width: 100%;
    max-width: 33.33333%;
    flex: 0 0 33.33333%;
    box-sizing: border-box;
    margin-bottom: 2.5rem;
    padding: 0 15px;
  }

  &__blog-post {
    background-color: #fafafa;
    height: 100%;
  }

  &__blog-thumbnail {
    width: 100%;
    height: 40%;
    object-fit: cover;
  }

  &__blog-body {
    min-height: 1px;
    padding: 1.25rem;
  }

  &__blog-title {
    font-size: 1.125rem;
    margin-bottom: .75rem;
  }

  &__blog-link {
    color: #292929;
    text-decoration: underline;
    text-decoration-color: rgba(41,41,41,0.3);
  }

  &__blog-description {
    font-size: .875rem;
    margin-bottom: 1rem;
  }

  &__more-link {
    color: $primary-color;
  }
}
