@import "font-awesome/font-awesome.scss";
@import "_color";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

h1, h2 {
  margin-top: 0;
  margin-bottom: .5rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 0;
}

/* main */

.main-wrapper {
  color: #292929;
  margin-left: 280px;
}

.main-section {
  padding: 1rem;
}

.main-section section {
  padding: 3rem;
}

.main-section section:not(:first-child) {
  border-top: 2px solid #efefef;
}

.section-title {
  font-size: 2rem;
  position: relative;
  padding-left: 1.5rem;
}

.section-title::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 100%;
  background: $primary-color;
  position: absolute;
  top: 0;
  left: 0;
}
